* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1rem;
}

canvas {
  position: absolute;
  z-index: 2;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  /* Safari and Chrome */
  -moz-transform: rotateY(180deg);
  /* Firefox */
}

.video {
  position: absolute;
  top: 0;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  /* Safari and Chrome */
  -moz-transform: rotateY(180deg);
  /* Firefox */
  object-fit: cover;
  z-index: -1;
}

.show {
  right: 0;
}

.hide {
  right: 100vw;
}

* {
  font-family: sans-serif;
}
